* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style-type: none;
    margin: 10px;
}

.navigation li a {
    display: inline-block;
    font-weight: 600;
    color: #121212;
    padding: 14px 16px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.navigation li a:hover {
    color: #ff008e;
}

#nav-toggler {
    display: none;
}

.nav-toggler-icon {
    display: none;
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .nav-toggler-icon {
        display: block;
        cursor: pointer;
    }

    .navigation {
        position: absolute;
        left: 0px;
        top: 80px;
        background-color: lightslategray;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
        transform: translateY(-600px);
        transition: .5s ease-out;
    }

    .navigation li a {
        padding: 0px;
    }

    #nav-toggler:checked~.navigation {
        transform: translate(0px);
    }
}